body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

header{
    background-color: #e4e1e1;
    display: flex;
    justify-content: space-between;
    
    
}

.sr-only{
    display: none;
}
.menu{
    margin: 3px;
    padding: 3px; 
}
.menu-toggle{
    display: none;

}
.menu-list{
list-style: none;
display: flex;
gap: 10px;


}

.menu-list li a{
    text-decoration: none;
    
}


@media(max-width: 768px){
 .menu-list{
    display: none;
    
    }
}

